<section class="overall col col-2-3">
  <section class="side-bar col col-1-3">
  <ul>
    <li class="article-title">
      <a>Launching the New React/Redux Curriculum</a>
    </li>
    <li class="article-author">
      By APP ACADEMY INSTRUCTIONAL TEAM
    </li>


    <li class="article-content">
      It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
    </li>
    <li class="article-content">
      The whole state of your app is stored in an object tree inside a single store.
      The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
    </li>
    <li class="comments">
      <a>1738 Comments</a>
    </li>

  </ul>
</section>

<section class="main-content col col-2-3">
  <iframe width="560" height="305" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>

  <label>
    Warning: This video will make you want to change your career
  </label>

  <div class="hr-container">
    <hr class="hr-top">
  </div>

<ul class="article-blurb">

  <li><a>Where Are They Now? </a></li>
  <li><h2>By APP ACADEMY ALUMNI<h2></li>
  <li><p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
  </p></li>
</ul>
<div class="hr-container">
  <hr class="hr-top">

</div>
<ul class="article-blurb">
  <li><a>Cat Academy</a></li>
  <li><h2>By APP ACADEMY DIRECTOR OF PRODUCTS</h2></li>
  <li><p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p></li>
</ul>

</section>
<div class="hackydiv">
<hr class="hr-top">
<hr class="hr-bottom">
</div>
</section>

<section class="opinion col col-1-3 group">
  <div class="title"> The Opinion Pages </div>
  <section class="oped col col-1-2 group">
    <h3>Op-Ed Contributor</h3>

    <ul class="article-blurb">
      <li>
        <a>Will Javascript ever be as easy as Ruby?</a>
      </li>
      <li>
        <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
      </li>
    </ul>
    <ul class="opinions">
      <li>Torvalds: When I Was Almost Wrong</li>
      <li>Knuth: Art of Programming</li>
      <li>Lovelace: The First Algorithm</li>
      <li>Hopper: The First Bug</li>
      <li>Thompson: Go C Unix</li>
      <li>Carmack: My Virtual Reality</li>
      <li>Stallman: Free Speech Not Free Coffee</li>
    </ul>
  </section>
  <section class="operations col col-1-2">

    <h3>Operations</h3>
      <ul class="article-blurb">
        <li>
          <a>App Academy New York Has A Brand New Office</a>
        </li>
        <li>
          <h2>By NY OPERATIONS</h2>
        </li>
        <li>
          <p>
            The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
          </p>
        </li>

        <li>
          <div class="crop">
            <img src="assets/new_office.jpg">
          </div>
        </li>
      </ul>
      <ul class="article-blurb">
        <li>
          <a>Opinion Today, in your Inbox</a>
        </li>
        <li>
          <p>
            Each weekday, get though-provoking commentary from our columnists and contributors.
          </p>
          </li>
      </ul>
  </section>
  <section class='signup col'>
    <input type="text" value="Get the Opinion newsletter by email"><button>Sign Up</button>

    <p>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</p>

    <hr class="hr-top">
    <hr class="hr-bottom">
  </section>
</section>
